# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
frontend/build
frontend/dist
*.egg-info/

# Misc
.DS_Store
*.log 